<div class="form-group" id="busSelect">
    <label>Select bus:</label>
    <select #busSelect class="form-control" (change)="onSelectionChanged(busSelect.value)">
      <option *ngFor="let number of busNumbers">{{number}}</option>
    </select>
</div>