<!-- <h2>ToDo List</h2>
<input type="text" required [(ngModel)]="text" (keydown.enter)="addTask()" (blur)="addTask()">
<ul>
    <li *ngFor="let item of tasks">{{item}}</li>
</ul> -->



<h2>ToDo List</h2>
<form (submit)="addTask()">
    <input type="text" name="text" [(ngModel)]="text">
    <button>Add</button>
</form>
<ul>
    <li *ngFor="let item of tasks"> 
        <button (click)="removeTask(item.id)">❌</button>
        {{item.title}} 
        <small>{{item.id}}</small>
    </li>
</ul>