<h1>Add Contact Reactive</h1>

<div class="row my-4">

    <div class="col-md-6">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input 
                    formControlName="name"
                    id="name"
                    type="text" 
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input 
                    formControlName="surname"
                    id="surname"
                    type="text" 
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input 
                    formControlName="phone"
                    id="phone"
                    type="text" 
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input 
                    formControlName="email"
                    id="email"
                    type="email"
                    class="form-control">
            </div>
            <ng-container formArrayName="additionalPhones">
                <div *ngFor="let control of additionalPhones.controls; let i = index" class="form-group">
                    <label>Additional phone {{i+1}}:</label>
                    <div class="input-group mb-3">
                        <input [formControlName]="i" class="form-control">
                        <div class="input-group-append">
                          <button (click)="onPhoneDeleteClick(i)" class="btn btn-outline-danger" type="button">Delete</button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <button type="button" (click)="onAddPhoneClick()" class="btn btn-light w-100 my-4">Add phone</button>
            <button [disabled]="!contactForm.valid" type="submit" class="btn btn-primary mr-2">Add</button>
            <button type="reset" class="btn btn-light">Reset</button>
        </form>
    </div>

    <div class="col-md-6">
        <ul class="text-danger">
            <li *ngIf="contactForm.get('name').errors?.required">Name is required!</li>
            <li *ngIf="phone.errors?.required">Phone is required!</li>
            <li *ngIf="phone.errors?.pattern">Phone is not valid!</li>
        </ul>

    <pre>{{contactForm.value | json}}</pre>
        <!-- <pre>
            {{ contactForm.get('name').errors | json }}
        </pre>
        <pre>
            {{ contactForm.get('phone').errors | json }}
        </pre> -->
    </div>

</div>