<app-todolist></app-todolist>
<hr>

<app-calc></app-calc>
<hr>

<div hidden>
    <!-- Types of binding -->
    <h1 [title]="helpText">Hello, world!</h1>
    <h2>{{title.toLocaleUpperCase()}}</h2>
    <h2>{{2 + 3 == 5}}</h2>
    <button (click)="onButtonClick()">Click me</button>
    <!-- {{}}, [], (), [()]  -->
    <!--      bind on bindon -->

    <!-- IF -->
    <p *ngIf="isAdmin">Hello, admin!</p>
    <p *ngIf="!isAdmin">Hello, guest!</p>

    <!-- Show/Hide -->
    <p [hidden]="!isAdmin">Hello, admin!</p>
    <p [hidden]="isAdmin">Hello, guest!</p>

    <!-- Switch -->
    <div [ngSwitch]="currentColor">
        <p *ngSwitchCase="Color.Red" style="background-color: red;">RED</p>
        <p *ngSwitchCase="Color.Green" style="background-color: green;">GREEN</p>
        <p *ngSwitchCase="Color.Blue" style="background-color: blue;">BLUE</p>
    </div>

    <!-- FOR -->
    <ul>
        <li *ngFor="let item of products; let i = index">
            {{i}} - {{item}} 
            <button (click)="onNumberClick(i)">{{item}}</button>
        </li>
    </ul>

    <!-- Attribute, Class and Style binding -->
    <p [attr.title]="helpText">Attribute binding</p>
    <p class="{{ isAdmin ? 'red-text' : '' }}">Class bindng</p>
    <p [class.red-text]="isAdmin">Class bindng</p>
    <p [style.background-color]="isAdmin ? 'blue' : 'green'">Style binding</p>
    <p [style.font-size.px]="size">Font size binding</p>

    <!-- Bind multiple classes or attributes -->
    <p [ngClass]="classes">ngClass</p>
    <p [ngStyle]="styles">ngStyle</p>
</div>
