<app-form (added)="addTask($event)"></app-form>
<ul>
    <app-item 
        (removed)="removeTask($event)" 
        [item]="task" 
        *ngFor="let task of taskRepository.tasks">
    </app-item>
</ul>

















<!-- <form (submit)="addTask()">
    <input type="text" name="text" [(ngModel)]="text">
    <button>Add</button>
</form>
<ul>
    <li *ngFor="let item of tasks"> 
        <button (click)="removeTask(item.id)">❌</button>
        {{item.title}} 
        <small>{{item.id}}</small>
    </li>
</ul> -->