<!-- <p (click)="onTextClick()">{{text}}</p>
<input #textInput type="text" (keyup)="onKeyUp(textInput.value)">
<p>{{textInput.value}}</p> -->



<!-- <p>{{text}}</p>
<input type="text" [(ngModel)]="text"> -->



<!-- <input [(ngModel)]="num1" type="number" (input)="onCalc()">
<select [(ngModel)]="operation" (change)="onCalc()">
    <option>+</option>
    <option>-</option>
    <option>*</option>
    <option>/</option>
</select> 
<input [(ngModel)]="num2" type="number" (input)="onCalc()">
<button (click)="onCalc()">Calc!</button>
<br>
<span>=</span>
<span>{{result}}</span> -->



<h2>Clac component</h2>
<input [(ngModel)]="num1" type="number">
<select [(ngModel)]="operation">
    <option *ngFor="let item of operations">{{item}}</option>
</select> 
<input [(ngModel)]="num2" type="number">
<span>=</span>
<span>{{result}}</span>



