<h1>Login</h1>

<div class="row my-4">

    <div class="col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="email">Email:</label>
                <input formControlName="email" id="email" type="email" class="form-control">
                <ng-container *ngIf="email.touched">
                    <span *ngIf="email.errors?.required" class="text-danger">Email is required!</span>
                    <span *ngIf="email.errors?.email" class="text-danger">Email is not valid!</span>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input formControlName="password" id="password" type="password" class="form-control">
                <ng-container *ngIf="password.touched">
                    <span *ngIf="password.errors?.required" class="text-danger">Password is required!</span>
                </ng-container>
            </div>

            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary mr-2">Add</button>
        </form>
    </div>

    <div class="col-md-6">
        
    </div>

</div>