<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" [styles]="theme">
    <agm-marker 
        *ngFor="let bus of buses | busNumber:busStorage.selectedBus"
        [latitude]="bus.latitude" 
        [longitude]="bus.longitude" 
        [label]="bus.routeCode">
    </agm-marker>
</agm-map>