<h1>Conatct list</h1>

<div class="list-group my-4">
    <a 
        *ngFor="let contact of contacts" 
        [routerLink]="['/contact', contact.id]"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{contact.name}} {{contact.surname}}</h5>
        </div>
        <p class="mb-1">{{contact.phone}}</p>
    </a>
</div>