<div class="container">
  <label>Filter by quantity: </label>
  <input type="number" [(ngModel)]="peopleCount">
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people | count:peopleCount | stringSort">
        <th scope="row">{{person.id}}</th>
        <td>{{person.fullName}}</td>
        <!-- <td>{{person.fullName | uppercase | slice:0:10}}</td> -->
        <td>{{person.date | date:'fullDate'}}</td>
        <td>{{person.gender | genderIcon}}</td>
      </tr>      
    </tbody>
  </table>
</div>

<!-- 
  uppercase
  lowercase
  slice
  date
 -->