<a appLink="green" href="https://www.google.com">Google</a>
<br>
<a appLink href="https://www.ya.ru">Yandex</a>
<br>
<a appLink="blue" href="https://www.bing.com">Bing</a>

<hr>

<button (click)="show = !show">{{ show ? 'hide' : 'show' }}</button>

<ng-container *ngIf="show else elseTemplate"> 
  <p>Hello!</p>
  <input *ngIf="show" type="text">
  <button *ngIf="show">Click me!</button>
</ng-container>

<ng-template #elseTemplate>
  <p>I'm a template!!!</p>
</ng-template>

<!-- 
<ng-template [ngIf]="show">
  <p>Hello!</p>
</ng-template> 
-->

<hr>

<div *ngIf="json else loading">{{json.toUpperCase()}}</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template> 

<hr>

<button (click)="onLanguageChange('en')">EN</button>
<button (click)="onLanguageChange('az')">AZ</button>
<button (click)="onLanguageChange('ru')">RU</button>

<p *appLang="'en'">Hello!</p>
<p *appLang="'az'">Salam!</p>
<p *appLang="'ru'">Привет!</p>

<!-- 
<ng-template [appLang]="'en'">
  <p>Hello!</p>
</ng-template> 
-->
