<ng-container *ngIf="contact else loading">
    <h1>{{contact.name}} {{contact.surname}}</h1>

    <h5>Phone: </h5>
    <p>{{contact.phone}}</p>
    
    <ng-container *ngIf="contact.email">
        <h5>Email: </h5>
        <p>{{contact.email}}</p>
    </ng-container>
</ng-container>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>

