<h1>Add contact</h1>

<div class="row my-4">

    <div class="col-md-6">
        <form (submit)="onSubmit()" #contactForm="ngForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input 
                    name="name"
                    id="name"
                    #name="ngModel"
                    [(ngModel)]="model.name" 
                    type="text" 
                    class="form-control"
                    required>
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input 
                    name="surname"
                    id="surname"
                    #surname="ngModel"
                    [(ngModel)]="model.surname" 
                    type="text" 
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input 
                    name="phone"
                    id="phone"
                    #phone="ngModel"
                    [(ngModel)]="model.phone" 
                    type="text" 
                    class="form-control"
                    required
                    minlength="2"
                    maxlength="20">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input 
                    name="email"
                    id="email"
                    #email="ngModel"
                    [(ngModel)]="model.email" 
                    type="email"
                    class="form-control">
            </div>
            <button [disabled]="!contactForm.valid" type="submit" class="btn btn-primary mr-2">Add</button>
            <button type="reset" class="btn btn-light">Reset</button>
        </form>
    </div>

    <div class="col-md-6">
        <ul class="text-danger">
            <li *ngIf="name.touched && name.errors?.required">Name is required!</li>
            <li *ngIf="phone.touched && phone.errors?.required">Phone is required!</li>
            <li *ngIf="phone.touched && phone.errors?.minlength">Phone is too short!</li>
        </ul>
    </div>

</div>

<div>
    <pre>{{phone.errors | json}}</pre>

    <p>Model:</p>
    <pre>{{model | json}}</pre>

    <p>Form status: {{contactForm.status}}</p>
    <p>Form valid: {{contactForm.valid}}</p>
</div>